/*
+--------+-----+--------+---------+
|        | #id | .class | element |
+--------+-----+--------+---------+
| Peso   | 100 |     10 |       1 |
+--------+-----+--------+---------+

"gap" = Espaço entre os elementos.

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background: #121214;
    background-image: url(./bg-blue.svg);
    background-position-x: center;
    /* background-position-y: 55.6%; */
    background-position-y: -715px;
}

body * {
    font-family: 'Roboto', sans-serif;
}

#app {
    width: fit-content;
    margin: 52px auto;
}

header {
    margin-bottom: 63px;
    text-align: center;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card {
    padding: 32px 23px;
    text-align: center;

    background: #1d1c19;
    border-bottom: 2px solid #f7dd43;
    border-radius: 6px;
}

.card h2 {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;

    padding: 8px 16px;
    border: 1px solid #746615;
    border-radius: 6px;

    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;

    color: #f7ff43;
}

.card h2 span {
    color: #e1e1e6;
    font-size: 14px;
    text-transform: uppercase;
}

.card ul {
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 270px;
}

.card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card ul li+li {
    padding-top: 24px;
    border-top: 1px solid #323238;
}

.card ul li strong {
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;

    color: #e1e1e6;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
    transform: scale(1.2);
}

.card h2,
.card ul li strong,
.card ul li img {
    transition: transform 0.3s;
}

.card {
    opacity: 0;
    /* nome-propriedade: nome-animacao (tempo-de-execução-em-segundos)s */
    /*        animation: appear                                      3s; */
    animation: appear .3s forwards;
}

.card:nth-child(2) {
    animation-delay: .2s;
}

.card:nth-child(3) {
    animation-delay: .4s;
}

@keyframes appear {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}